{% extends "./base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        <span style="display: inline-block;width: 70px;">Post: </span>
        <textarea name="postText" style="width:300px; height:100px; color:black">{{ existingPost.text }}</textarea>
    </p>
    <p>
        <input name="save" type="submit" value="Edit" style="color:black">
    </p>
    <p>
        <input name="save" type="submit" value="Delete" style="color:black">
    </p>
</form>
{% endblock %}
