{% extends "./base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="big-note">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="inputTextPost">Text post to edit</label>
      <textarea class="form-control" name="post_text" id="inputTextPost" rows="3" placeholder="Type your edited post here.">{{ existing_post.text }}</textarea>
      <button name="save" type="submit" value="Edit" class="btn btn-primary">Edit</button>
      <button name="save" type="submit" value="Delete" class="btn btn-primary">Delete</button>
    </div>
</form>
{% endblock %}
