{% extends "./base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="big-note">
    {% csrf_token %}

    <p>
        <span style="display: inline-block">Post: </span>
        <textarea name="postText" style="color:black">{{ existingPost.text }}</textarea>
    </p>
    <p>
        <input name="save" type="submit" value="Edit" style="color:black">
    </p>
    <p>
        <input name="save" type="submit" value="Delete" style="color:black">
    </p>
</form>
{% endblock %}
