{% extends "./base.html" %}
{% block content %}

<!-- Reload the post-table div every 6 seconds. From here: https://stackoverflow.com/questions/34774138/reload-table-data-in-django-without-refreshing-the-page -->
<script>
    var append_increment = 0;
    setInterval(function() {
        $.ajax({
            type: "GET",
            url: "{% url 'update_posts' %}",
            data: {'append_increment': append_increment},
        })
        .done(function(response) {
            $('#post-table').replaceWith(response);
            append_increment += 1;
        });
    }, 6000);
</script>

<div>
    <h1>Big Text Notes</h1>

    <!-- Display posts in a grid -->
    <div id="post-table">

        {% for post_tuple in split_post_list %}
        <div class="row">
            <div class="col-xs-6 big-note"><a href="{% url 'edit_post' post_pk=post_tuple.0.pk %}"><p style="color: white">{{ post_tuple.0.text }}</p></a></div>

            <!-- Check to see if 2nd element in tuple exists -->
            {% if post_tuple.1 %}
            <div class="col-xs-6 big-note"><a href="{% url 'edit_post' post_pk=post_tuple.1.pk %}"><p style="color: white">{{ post_tuple.1.text }}</p></a></div>
            {% else %}
            <div class="col-xs-6 big-note"></div>
            {% endif %}
        </div>
        {% endfor %}

    </div>


    <a href="{% url 'add_post' %}"><p style="font-size: 24px; color: yellow">Create post</p></a>
</div>


{% endblock %}
