.navbar {
	margin-bottom: 0;
	display: flex;
	align-items: center;
}
.navbar .navbar-brand a {
	font-size: 24px;
	color: white;
	font-weight: bold;
}
body {
	background: #000;
	color: #fff;
	font-family: sans-serif;
}
.content {
	margin-left: 15px;
	margin-right: 15px;
}
h1,
h2 {
	font-weight: bold;
}
.jumbotron {
	background: #27A967;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}
.btn-navbar {
	font-size: 18px;
	color: yellow;
	background-color: transparent;
	border-color: yellow;
}
.btn-navbar:hover {
	color: white;
	background-color: red;
	border-color: white;
}
.btn-primary {
	color: black;
	background-color: #F5F5F5;
	border-style: none;
}
.navbar-inverse {
	background: #008;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #fff;
	font-size: 16px;
	height: 500px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.glyphicon-large {
	font-size: 100px;
}
.tab-content {
	display: block;
}
/* From here: https://stackoverflow.com/questions/17206631/why-are-bootstrap-tabs-displaying-tab-pane-divs-with-incorrect-widths-when-using */
.tab-content > .tab-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

form .form-group * {
	font-size: 36px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.freq-results {
	text-align: center;
}
.bg-colour1 {
	color: #fff;
	background-color: #002020;
}
.bg-colour2 {
	color: #fff;
	background-color: #200000;
}

.big-note p {
	font-size: 36px;
}
